@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartao {
    background-color: white;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}
.topo {
    padding: 15px;
    margin-bottom: 30px;
    background-color: antiquewhite;
}
.entradas {
    margin: 10px;
}

.div-controle {
    padding-bottom: 30px;
    position: relative;
}

.div-controle label {
    display: inline-block;
    margin-bottom: 10px;
}

.div-controle input {
    display: block;
    width: 85%;
    padding: 10px;
    border-radius: 10px;   
}

/* Para Chrome, Safari, Edge e Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* FireFox */
input[type=number] {
    -moz-appearance: textfield;
  }

.div-controle i {
    position: absolute;
}

.div-controle #icone-erro, #icone-sucesso {
    display: none;
}

.botao-resultado {
    display: flex;
    justify-content: space-between;
}

button {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 15px 20px 0px;
}

p {
    margin-top: 5px;
    width: 200px;
}

/* Mudança de design para ações do usuário.*/

/* SUCESSO */

.div-controle-sucesso {
    padding-bottom: 30px;
    position: relative;
}

.div-controle-sucesso label {
    display: inline-block;
    margin-bottom: 10px;
}

.div-controle-sucesso input {
    display: block;
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(17, 236, 17);
    color: rgb(5, 134, 5);
    font-weight: bolder;
}

.div-controle-sucesso #icone-sucesso {
    position: absolute;
    display: block;
    top: 50px;
    right: 65px;
    color: rgb(17, 236, 17);
}
.div-controle-sucesso #icone-erro {
    display: none;
}


/* ERRO */

.div-controle-erro {
    padding-bottom: 30px;
    position: relative;
}

.div-controle-erro label {
    display: inline-block;
    margin-bottom: 10px;
}

.div-controle-erro input {
    display: block;
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    border-color: red;
    color: rgb(179, 3, 3);
    font-weight: bolder;
}

.div-controle-erro #icone-erro {
    position: absolute;
    display: block;
    top: 50px;
    right: 65px;
    color: red;
}

.div-controle-erro #icone-sucesso {
    display: none;
}

.msg-erro {
    height: 20px;
    width: 100%;
    color: red;
}

@media (max-width:550px) {
    * {
        font-size: 0.95rem;
    }
    body {
        align-items: start;
        margin-top: 35px;
    }
    .cartao {
        height: 400px;
        width: 370px;   
    }
    /* ERRO */
    .div-controle-erro {
        padding-bottom: 15px;
    }
    .div-controle-erro label {
        margin-bottom: 5px;
        font-size:0.85rem;
    }
    .div-controle-erro input {
        width: 95%;
        font-size:0.85rem;
    }
    .div-controle-erro #icone-erro {
        top: 40px;
        right: 30px;
    }
    .msg-erro {
        height: 20px;
        width: 100%;
        font-size: 0.85rem;
   }
   /* SUCESSO */

   .div-controle-sucesso {
    padding-bottom: 15px;
}
.div-controle-sucesso label {
    margin-bottom: 5px;
    font-size:0.85rem;
}
.div-controle-sucesso input {
    width: 95%;
    font-size:0.85rem;
}
.div-controle-sucesso #icone-sucesso {
    top: 40px;
    right: 30px;
}
.msg-erro {
    height: 20px;
    width: 100%;
    font-size: 0.85rem;
}
}